<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libLLVM" version="8.0.0" targetFramework="net472" />
  <package id="LLVM" version="0.1.1" targetFramework="net472" />
  <package id="LLVM.NativeLibrary" version="3.3.0" targetFramework="net472" />
  <package id="LLVMSharp" version="8.0.0-beta" targetFramework="net472" />
  <package id="Lost.Native" version="0.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="YaccLexTools" version="0.2.2" targetFramework="net472" />
</packages>